body {
	background: #ececec;
}

main {
	background: #fff;
	border-right: 4px solid #f2f2f2;
}

.background-gray {
	background-color: #f2f2f2;
	color: #262626;
	min-height: 250px;
}

.background-gray.no-min {
	min-height: inherit;
}

.margin-vertical {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

footer.main-footer {
	margin-bottom: 2em;
}

p.intro-text.bar:after {
	content: " ";
	display: block;
	width: 150px;
	height: 14px;
	background: #a31d36;
	bottom: 0;
	position: absolute;
	margin-bottom: 12px;
}

aside + aside {
	margin-top: 3em;
}

aside {
	padding: 1em;
	transition: background .7s ease;
}

aside:hover {
	background: #f2f2f2;
	cursor: pointer;
	color: #736d6d;
}

aside.widget_search {
	background: transparent;
	cursor: none;
	color: inherit;
}

aside:hover header {
	border-bottom: 5px solid #c7c7c7;
}

hr {
	border-color: transparent;
	background-color: #cbcbcb;
}

section.pad-bottom > header {
	padding-bottom: 0;
}

.flex {
	display: flex;
}

@media screen and (max-width: 790px) {

	.flex {
		display: flex;
		flex-direction: column;
	}

	.fluid .row.halves.flex .column {
		width: 100%;
	}
}
