.bleed-right {
	max-width: none !important;
	margin-right: 0 !important;
	margin-left: auto;
}

.bleed-left {
	max-width: none !important;
	margin-right: auto;
	margin-left: 0 !important;
}

.img-mid-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 415px;
	margin: 2rem 0 2rem 4rem;
	position: relative;
}

.img-sm-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 250px;
}

.img-attached {
	background-attachment: fixed;
}

.spacing-loose .halves.gutter .column.one:not(.gutterless).has-video,
.halves.gutter .column.one:not(.gutterless).has-video,
.column.has-video {
	padding-left: 0;
	padding-right: 0;
}

figure a {
	border-bottom: none;
}

.single-post figure.featured-image {
	margin-top: -50px;
}

.has-video p {
	display: none;
}
