.bleed-right {
	max-width: none !important;
	margin-right: 0 !important;
	margin-left: auto;
}

.bleed-left {
	max-width: none !important;
	margin-right: auto;
	margin-left: 0 !important;
}

.img-mid-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 415px;
	margin: 2rem 0 2rem 4rem;
	position: relative;
}

.img-sm-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 250px;
}

.img-attached {
	background-attachment: fixed;
}

.spacing-loose .halves.gutter .column.one:not(.gutterless).has-video,
.halves.gutter .column.one:not(.gutterless).has-video,
.column.has-video {
	padding-left: 0;
	padding-right: 0;
}

figure a {
	border-bottom: none;
}

.content-item-excerpt img {
	display: none;
}

.has-video p {
	display: none;
}

.hero-video-wrapper {
	height: 0;
	width: 100%;
	padding-bottom: 56.25%;
	z-index: 1;
}

.hero-video-wrapper .hero-video {
	position: absolute;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 2.3em;
	width: 100%;
	height: 100%;
}

.video-wrap {
	margin-top: 3em;
}

.spacing-loose .single.gutter.video-wrap  .column:not(.gutterless) {
	padding-left: 0;
}

.video-wrap.img-mid-feature {
	margin-left: 0;
}

.video-wrap header {
	position: absolute;
	margin: 0 0 0 8em;
	padding: 0;
	z-index: 3;
	top: 40%;
}

.video-wrap header sup,
.video-wrap header h1 {
	color: #fff;
}

.video-wrap header sup {
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.video-wrap header h1 {
	font-size: 5rem;
	letter-spacing: 1px;
}

.video-wrap p {
	display: none;
}

.embed-youtube {
	margin-bottom: 0;
}
