.blog .article-thumbnail,
.archive .article-thumbnail {
	display: none;
}

footer.article-footer {
	border-top: 1px solid #f2f2f2;
}

h2.article-title {
	padding-bottom: .4em;
}

.article-header hgroup.source,
.article-header .hgroup.source,
.article header cite a,
footer.article-footer {
	color: #737373;
}

.article-header hgroup.source,
.article-header .hgroup.source {
	padding-bottom: 2.4em;
}

article footer a,
article header cite a {
	border-bottom: 0;
}

aside.widget {
	margin: 2em 0;
}

figure.article-thumbnail {
	float: left;
	margin: 0 1em 1em 0;
}

article.type-post {
	padding-bottom: 2.5em;
}

figure.featured-image {
	height: 415px;
}

.single-post.has-featured-image header.article-header hgroup h1.article-title {
	padding-top: 1em;
}

.single-post header.article-header hgroup h1.article-title {
	margin-bottom: 0;
}

.blog .article-thumbnail,
.archive .article-thumbnail,
.single-post figure.featured-image {
	display: none;
}

.featured .deck article.card {
	display: flex;
}

.featured .deck article.card figure.card-image {
	background-repeat: no-repeat;
	width: 50%;
	background-size: cover;
}

.featured .deck article.card .card-content {
	width: 50%;
	padding-left: 2rem;
	padding-right: 4rem;
	padding-bottom: 2rem;
	background-color: #f2f2f2;
}

.featured .deck article.card .card-content header {
	color: #262626;
	font-size: 36px;
	line-height: 1.3;
	font-weight: 300;
	letter-spacing: .5px;
	padding-top: 3rem;
	padding-bottom: 1em;
}

.deck article.card .card-content .more-link {
	display: none;
}

.featured .deck article.card .card-content .card-cta a {
	background: #d72216;
	border: 1px solid #d72216;
	border-radius: 6px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
	line-height: normal;
	padding: 1em;
	transition: background 1s ease;
	transition: color .5s ease;
}

.featured .deck article.card .card-content .card-cta a:hover {
	background: transparent;
	color: #ca1237;
	border: 1px solid #ca1237;
}

.deck article.card .card-excerpt img,
.deck article.card figure.card-image img {
	display: none;
}

.newsletter .deck article.card figure.card-image img {
	display: block;
}

.sub-feature .deck {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem 0;
}

.sub-feature .deck article.card {
	width: 50%;
	padding: 2em;
}

.newsletter .deck article.card header.card-title,
.sub-feature .deck article.card header.card-title,
.newsletter .gform_wrapper h3.gform_title {
	color: #3e3e3e;
	font-size: 24px;
	font-weight: 600;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 1.2;
}

.newsletter .gform_wrapper h3.gform_title {
	padding-top: 0;
}

.newsletter .deck article.card header.card-title {
	padding-top: 2em;
	padding-bottom: 1em;
}

.newsletter .deck article.card {
	padding-bottom: 2em;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 1em;
}

.row:not(.unscale) .column.newsletter .card figure {
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
	margin-top: 1em;
}

.newsletter .deck article.card figure.card-image {
	height: 205px;
}

.newsletter .deck article.card figure.card-image img {
	display: none;
}

.wsuwp-content-syndicate-event {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 2em;
	margin-bottom: 3em;
}

.wsuwp-content-syndicate-event:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.wsuwp-content-syndicate-event .content-item-event-title {
	order: 1;
	color: #3e3e3e;
	font-size: 24px;
	font-weight: 600;
	padding-top: 0;
	padding-bottom: .6em;
	line-height: 1.4;
}

.wsuwp-content-syndicate-event .content-item-event-date {
	order: 2;
	font-size: 14px;
	color: #736d6d;
	font-weight: 700;
}

.wsuwp-content-syndicate-event .content-item-event-meta {
	order: 3;
	font-size: 14px;
	color: #736d6d;
	padding-bottom: 1.5em;
}

.wsuwp-content-syndicate-event .content-item-event-excerpt {
	order: 4;
}

.wsuwp-content-syndicate-event .content-item-event-excerpt img {
	display: none;
}

.grid .wsu-person {
	background: transparent;
}

.grid .name {
	font-size: 1.3rem;
	padding-bottom: .4em;
	font-weight: 600;
}
