footer.article-footer {
	border-top: 1px solid #f2f2f2;
}

h2.article-title {
	padding-bottom: .4em;
}

.article-header hgroup.source,
.article-header .hgroup.source,
.article header cite a,
footer.article-footer {
	color: #737373;
}

.article-header hgroup.source,
.article-header .hgroup.source {
	padding-bottom: 2.4em;
}

aside.widget {
	margin: 2em 0;
}

figure.article-thumbnail {
	float: left;
	margin: 0 1em 1em 0;
}

article.type-post {
	padding-bottom: 2.5em;
}

figure.featured-image {
	height: 415px;
}

.single-post.has-featured-image header.article-header hgroup h1.article-title {
	padding-top: 1em;
}

.single-post header.article-header hgroup h1.article-title {
	margin-bottom: 0;
}
