form {
	margin: 0; /* Reset the spine's form */
	padding: 0; /* Reset the spine's form */
}

input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea {
	background: #f2f2f2;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cbcbcb;
	border-left: 0;
	border-radius: 0;
	padding: 1em;
	font-size: 14px;
	color: #262626;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
	box-shadow: none;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #ececec;
	border-left: 0;
	border-radius: 0;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #fa5735;
	border: 0;
	border-radius: 10px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
	line-height: normal;
	padding: 1em;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #ca1237;
	color: #fff;
}

.widget form div {
	display: flex;
	flex-wrap: wrap;
}

.widget form div input {
	margin-top: .5em;
}

.widget input[type="text"] {
	margin-right: .4em;
	flex: 2;
}

.widget input[type="submit"] {
	flex: 1;
}

table tbody td,
table tfoot th,
.tablepress tbody td,
.tablepress tfoot th {
	border-top: 1px solid #f2f2f2;
}

table tfoot th,
table thead th,
.tablepress tfoot th,
.tablepress thead th {
	background: transparent;
	text-transform: uppercase;
}

table tbody,
.tablepress tbody {
	margin-bottom: 2em;
}

.background-gray table tbody td,
.background-gray table tfoot th,
.background-gray .tablepress tbody td,
.background-gray .tablepress tfoot th {
	border-top: 1px solid #736d6d;
}

.background-gray .tablepress thead th {
	border-bottom: 1px solid #736d6d;
}

.gform_wrapper h3.gform_title {
	color: #a31d36;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: .5px;
	padding-top: .8em;
	padding-bottom: .7em;
}

form select,
.gform_wrapper ul.gform_fields li.gfield select,
.gform_wrapper .ginput_complex .ginput_right select,
.gform_wrapper .ginput_complex select {
	height: 30px;
}

form label,
.gform_wrapper .top_label .gfield_label {
	font-size: 1.2em;
}

form ul li label,
.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
	font-weight: 400;
	font-size: 14px;
}

.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper .gf_progressbar {
	border-radius: 10px;
}

.gform_wrapper .percentbar_blue {
	background-color: #a31d36;
}
