form {
	margin: 0; /* Reset the spine's form */
	padding: 0; /* Reset the spine's form */
}

input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea,
.wsu-people-filters .search input,
.wsuwp-people-filters .search input {
	background: #f2f2f2;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cbcbcb;
	border-left: 0;
	border-radius: 0;
	padding: 1em;
	font-size: 14px;
	color: #262626;
	transition: border .7s ease;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus,
.wsu-people-filters .search input:focus,
.wsuwp-people-filters .search input:focus {
	box-shadow: none;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #ececec;
	border-left: 0;
	border-radius: 0;
}

.wsu-people-filters .search input,
.wsuwp-people-filters .search input,
.wsuwp-people-filters,
.wsuwp-people-filter {
	width: 100%;
}

.wsuwp-people-filters .search input::placeholder {
	font-style: italic;
}

.button,
button,
button a,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #d72216;
	border: 1px solid #d72216;
	border-radius: 6px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
	line-height: normal;
	padding: 1em;
	transition: background 1.3s ease;
	transition: color .3s ease;
}

.button:hover,
button:hover,
button a:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: transparent;
	color: #ca1237;
	border: 1px solid #ca1237;
}

.sub-button,
button.sub-button,
button.sub-button {
	background: transparent;
	border: 1px solid #d72216;
	border-radius: 6px;
	font-size: 14px;
	color: #d72216;
	margin-bottom: 0;
	line-height: normal;
	padding: 1em;
	transition: background 1.3s ease;
	transition: color .5s ease;
}

.sub-button:hover,
button.sub-button:hover,
button.sub-button a:hover {
	background: #ca1237;
	border: 1px solid #ca1237;
	color: #fff;
}

.widget form div {
	display: flex;
	flex-wrap: wrap;
}

.widget form div input {
	margin-top: .5em;
}

.widget input[type="text"] {
	margin-right: .4em;
	flex: 2;
}

.widget input[type="submit"] {
	flex: 1;
}

.widget select {
	margin-top: 1em;
}

table tbody td,
table tfoot th,
.tablepress tbody td,
.tablepress tfoot th {
	border-top: 1px solid #f2f2f2;
}

table tfoot th,
table thead th,
.tablepress tfoot th,
.tablepress thead th {
	background: transparent;
	text-transform: uppercase;
}

table tbody,
.tablepress tbody {
	margin-bottom: 2em;
}

.tablepress-table-description {
	padding: .7em 0;
}

.background-gray table tbody td,
.background-gray table tfoot th,
.background-gray .tablepress tbody td,
.background-gray .tablepress tfoot th {
	border-top: 1px solid #736d6d;
}

.background-gray .tablepress thead th {
	border-bottom: 1px solid #736d6d;
}

.gform_wrapper {
	margin: 0;
}

.gform_wrapper h3.gform_title {
	color: #a31d36;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: .5px;
	padding-top: .8em;
	padding-bottom: .7em;
}

form select,
.gform_wrapper ul.gform_fields li.gfield select,
.gform_wrapper .ginput_complex .ginput_right select,
.gform_wrapper .ginput_complex select {
	height: 30px;
}

form label,
.gform_wrapper .top_label .gfield_label {
	font-size: 1.2em;
}

form ul li label,
.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
	font-weight: 400;
	font-size: 14px;
}

.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper .gf_progressbar {
	border-radius: 10px;
}

.gform_wrapper .percentbar_blue {
	background-color: #a31d36;
}

.tribe_community_edit .single .one {
	max-width: 605px;
}

.tribe_community_edit.logged-in .single .one {
	max-width: none;
}

.tribe_community_edit label {
	display: block;
}

.tribe_community_edit input[type="checkbox"] + label {
	display: inline;
}

.tribe_community_edit input[type="text"],
.tribe_community_edit input[type="password"] {
	margin-top: 8px;
	width: 100%;
}

.tribe_community_edit #tribe-events .tribe-button-primary,
.tribe_community_list #tribe-events .tribe-button-primary,
.tribe_community_edit .tribe-button.submit,
.tribe_community_edit .button-primary {
	background: #d72216;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 14px;
	padding: 1em;
	text-transform: unset;
}

.tribe_community_edit #tribe-events .tribe-button-primary:hover,
.tribe_community_edit #tribe-events .tribe-button-primary:focus,
.tribe_community_list #tribe-events .tribe-button-primary:hover,
.tribe_community_list #tribe-events .tribe-button-primary:focus,
.tribe_community_edit .tribe-button.submit:hover,
.tribe_community_edit .tribe-button.submit:focus,
.tribe_community_list .tribe-button.submit:hover,
.tribe_community_list .tribe-button.submit:focus,
.tribe_community_edit .button-primary:hover,
.tribe_community_edit .button-primary:focus {
	background: none;
	border: 1px solid #ca1237;
	color: #ca1237;
}

.tribe_community_edit main a {
	border-bottom: none;
}

#tribe-events .tribe-button:before,
#tribe-events .tribe-button:after,
.tribe-change-timezone:before,
.tribe-change-timezone:hover:before,
.tribe-delete-this:after,
.tribe-delete-this:hover:after {
	content: none;
}

.tribe-change-timezone:after,
.tribe-change-timezone:hover:after,
.tribe-delete-this:before,
.tribe-delete-this:hover:before {
	background: none;
	bottom: auto;
	height: auto;
	position: relative;
	right: auto;
	transition: unset;
	width: auto;
}

.tribe-change-timezone:hover {
	border-bottom: 1px solid #ca1237;
}
