footer.main-footer {
	background: #4c4c4c;
	color: #fff;
	font-weight: 300;
	display: flex;
	height: 60px;
	width: 100%;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

footer.main-footer a {
	color: #fff;
}

footer.main-footer header {
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 0;
	font-weight: 300;
	text-transform: uppercase;
	padding: .7em 1em .7em 0;
	margin: 1.3em 0 1.3em 4em;
	border-right: 1px solid #736d6d;
	text-align: center;
}

footer.main-footer nav {
	flex: 2;
	padding-top: 1em;
	height: 60px;
	letter-spacing: .5px;
	max-width: 500px;
}

footer.main-footer nav ul {
	display: flex;
	justify-content: space-evenly;
	padding-left: 0;
	padding-top: .5em;
}

footer.main-footer ul li:before {
	display: none;
}

footer.main-footer ul li {
	padding-left: 0;
}

footer.main-footer ul li a {
	border-bottom: 0;
}

footer.main-footer ul li a:hover {
	color: #ca1237;
}


footer.main-footer .social {
	height: 60px;
	display: flex;
	flex: 1;
	flex-direction: row-reverse;
	padding-top: 1em;
	margin-right: 4em;
}

footer.main-footer .social a svg {
	fill: #736d6d;
	display: block;
	border: 1px solid #4c4c4c;
	margin-right: 1em;
}

footer.main-footer .social a:hover .social-icon {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	width: 30px;
	height: 30px;
}

footer.main-footer .social a svg:hover #facebook {
	fill: #3b5998;
}

footer.main-footer .social a svg:hover #youtube {
	fill: #ce1312;
}

footer.main-footer .social a svg:hover #twitter {
	fill: #55acee;
}

@media (min-width: 990px) {

	.main-footer {
		margin-left: 198px;
		max-width: calc(100vw - 198px);
	}
}

@media (min-width: 1386px) {

	.main-footer {
		max-width: calc(1386px - 198px - 4px);
	}
}

@media (max-width: 1150px) {

	footer.main-footer header {
		font-size: 12px;
		font-weight: 500;
		padding-top: 1.2em;
	}
}

@media (max-width: 890px) {

	footer.main-footer .social {
		display: none;
	}
}

@media (max-width: 639px) {

	footer.main-footer header {
		display: none;
	}
}
