.wsuwp-people-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.5rem;
}

.person-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: .5rem;
	width: 25%;
}

.person-card-name {
	color: #a31d36;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: .5px;
	line-height: 1.3;
	padding: 0 1rem .4em;
}

.person-card .person-card-name a,
.person-card .person-card-email a {
	border-bottom: 1px solid rgba(215, 34, 22, .5);
	color: #4a4a4a;
}

.person-card .person-card-name a:hover,
.person-card .person-card-email a:hover {
	color: #ca1237;
}

.person-card-photo {
	margin-bottom: 1rem;
	order: -1;
}

#binder .person-card-photo,
#binder .person-card-photo a,
#binder .person-card-photo img {
	display: block;
	max-width: none;
	width: 100%;
}

.column .person-card-photo a,
.column .person-card-photo a:hover {
	border-bottom: none;
}

.person-card-photo a:before,
.person-card-photo a:after {
	content: none;
}

.person-card-contact {
	font-size: .875em;
	font-weight: 400;
	padding: 0 1rem 1rem;
}

.wsu-people-filter.search {
	margin-bottom: 2em;
}

.grid .wsu-people .wsu-person .photo {
	width: calc(100% + 2rem);
	max-width: none;
	padding: 0;
}

.wsu-person .photo a {
	position: static;
	display: block;
}

.wsu-person .photo a:before,
.wsu-person .photo a:after {
	content: none;
}

.grid .photo img {
	position: relative;
}

.person-card-contact {
	font-size: 100%;
}

.wsu-people-filters .search input,
.wsuwp-people-wrapper .wsuwp-people-filters .search input {
	height: 54px;
}

.wsuwp-people-filters {
	box-sizing: border-box;
	padding: 0 .5rem;
}

.wsuwp_people_profile .degree {
	font-size: 16px;
	text-transform: initial;
}

@media only screen and (max-width: 693px) {

	.person-card {
		width: 50%;
	}
}

@media only screen and (max-width: 480px) {

	.wsuwp-people-wrapper {
		display: block;
	}

	.person-card {
		width: 100%;
	}
}
